<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <title>Mini Pokedex</title>
</head>

<body>
    <header>
        <h1>Mini Pokedex Shiny</h1>
    </header>
    <main>
        <form action="/" method="post">
            <label for="pokeInfo">Introduzca el nombre o el número del Pokémon que desea buscar</label>
            <input type="text" name="pokeInfo" placeholder="Ejem: pikachu, rayquaza, 150...">
            <button type="submit">Buscar</button>
        </form>
    </main>
    <footer>
        <label>Hecho por Carlos Lavado.</label>
    </footer>
</body>

</html>